@import url(reset.css);

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  grid-template-areas: "control table";
  min-height: 100vh;
  padding: 2rem;
  background-color: #f0ffff;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

#control {
  grid-area: control;
}

#control-form {
  border: 1px solid #000;
  background-color: #c0c0c0;
  padding: 0.5rem;
  width: 95%;
}

fieldset {
  margin: 0 auto;
  max-width: 450px;
}

#control-fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#control-fields label {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

#control-fields label span {
  width: 50%;
}

#control-fields label input {
  margin: 0 auto;
  height: 1.2rem;
}

fieldset,
legend {
  padding: 0.5rem;
}

.button-styles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
}

.button-styles button {
  color: white;
  font-size: 1rem;
  padding: 4px 8px;
  font-weight: 900;
  border: none;
  border-radius: 20% / 20%;
  text-decoration: none;
  cursor: pointer;
}

#insertButton {
  background-color: #4caf50;
  -webkit-text-stroke: 0.3px #4caf50;
}
#removeLast {
  background-color: #b9ad00;
  -webkit-text-stroke: 0.3px #b9ad00;
}
#noSell {
  background-color: #b92500;
  -webkit-text-stroke: 0.3px #b92500;
}
#exportButton {
  background-color: #002bb9;
  -webkit-text-stroke: 0.3px #002bb9;
}

#tablesSection {
  grid-area: table;
}

table {
  margin: 0 auto;
}

#dailyTable {
  margin: 0 auto;
}

table td {
  padding: 0.5rem 1rem;
}

thead td {
  background-color: #00bfff;
  text-align: center;
}

tbody td {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  main {
    grid-template-columns: 60% 40%;
    padding: 2rem 1rem;
    font-size: 0.85rem;
    line-height: 1.5;
  }

  #control-form {
    width: 100%;
  }

  .button-styles button {
    font-size: 0.8rem;
    padding: 2px 5px;
  }

  #tablesSection {
    margin-left: 1rem;
  }

  table td {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 790px) {
  main {
    grid-template-columns: 1fr;
    grid-template-areas: "control" "table";
    gap: 25px;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 465px) {
  main {
    padding: 0.5rem 0;
    margin: 0;
    overflow: auto;
  }

  #control-form {
    padding: 0;
  }

  fieldset,
  legend {
    padding: 0.3rem;
  }

  .button-styles {
    gap: 8px;
  }

  table td {
    padding: 0.3rem;
  }
}
